<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Orange HRM Application">

<listeners>
<listener class-name= "ExtentReportListener.ExtentReporterNG"/>

</listeners>

  <test name="Opensource HRM Test" preserve-order="true">
    <classes>
     <class name="hrm.testcases.LoginpageTest"/>
     <class name="hrm.testcases.HomepageTest"/>
      <class name="hrm.testcases.PIMPageTest"/>
      <class name="hrm.testcases.AddEmpTest"/>
      <class name="hrm.testcases.PersonalDetailsTest"/>   
      <class name="hrm.testcases.JobPageTest"/> 
      <class name="hrm.testcases.EmpListTest"/>   
     
      
      
    </classes>
    
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
